html {
    box-sizing: border-box;
}

body {}

.header {
    background: url(../img/background.jpg) center;
    max-width: 1920px;
    height: 930px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.header__top {
    display: flex;
    flex-direction: row;
}

.header__top-logo {
    padding-top: 28px;
}

.header__top-site {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 32px;
    color: #ffffff;
    position: absolute;
    left: 15%;
}

.header__top-site span {
    color: #a12920;
}

.header__top-search {
    padding-top: 25px;
    padding-left: 185px;
    height: 27px;
    position: absolute;
    left: 26%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.header__top-search input {
    height: 23.3px;
    background-color: #bababa;
}

.header__top-search img {
    position: absolute;
    right: -25px;
    padding-top: 0.5px;
}

.header__top-login {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: 70%;
    display: flex;
    flex-direction: row;
    padding-top: 32px;
}

.header__top-login img {
    padding-right: 12px;
}

.header__top-number p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    left: 78%;
    padding-top: 32px;
}

.menu {}

.menu__list {
    display: flex;
    flex-direction: row;
    padding-top: 105px;
    position: absolute;
    left: 34%;
}

.menu__list li {
    padding-right: 33px;
}

.menu__list a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
    text-decoration: none;
}

.menu__image {
    position: absolute;
    left: 80%;
    padding-top: 97px;
}

.menu__image img {
    padding-left: 17px;
}

.header__content {
    text-align: center;
}

.header__content-heading {
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #00c5d2;
    padding-top: 250px;
}

.header__content-title {
    font-family: 'Lobster Two', cursive;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 40px;
}

.header__text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #ebeaea;
    width: 800px;
    padding-top: 30px;
    position: absolute;
    left: 19%;
}

.header__content-btn {
    padding-top: 175px;
}

.header__content-btn a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #ff3a2d;
    height: 45px;
    width: 140px;
    padding: 16px 33px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 15px;
}

.header__content-btn a:hover {
    background: #ff3a2d;
}

.content {
    background-color: #ffffff;
    background-image: url(../img/leaves.png) no-repeat;
}

.content__title {
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    color: #222222;
    margin-top: 145px;
    width: 240px;
    text-align: center;
}

.content__title span {
    font-size: 48px;
    color: #ff3a2d;
}

.content__icon {
    padding-top: 26px;
    position: absolute;
    left: 7%;
}

.content__text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    padding-top: 84px;
    width: 670px;
    line-height: 28px;
}

.content__autor-text {
    font-size: 28px;
    font-family: 'Sacramento', cursive;
    font-weight: 400;
    width: 204px;
    text-align: center;
    padding-top: 45px;
    color: #1c1c1c;
}

.content__autor-text span {
    font-size: 16px;
}

.content__form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ff3a2d;
    width: 370px;
    height: 555px;
    background: #ff3a2d;
    float: right;
    margin-top: -550px;
}

.content__form input {
    position: absolute;
    left: 66%;
    width: 320px;
    height: 30px;
    border-style: none;
    padding-left: 22px;
    margin-left: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #959595;
}

.content__form select {
    width: 20px;
    border-style: none;
    position: absolute;
}

.content__form-title {
    margin-top: 80px;
    display: flex;
    padding-left: 78px;
    font-family: 'Lobster Two', cursive;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.content__form-title img {
    padding-right: 10px;
    padding-left: 10px;
}

.content__form-name {
    margin-top: 150px;
}

.content__form-total {
    margin-top: 210px;
}

.content__form-date {
    margin-top: 270px;
}

.content__form-time {
    margin-top: 330px;
}

.content__form-table {
    margin-top: 390px;
}

.content__select-total {
    margin-top: 215px;
    margin-left: 200px;
}

.content__select-date {
    margin-top: 275px;
    margin-left: 250px;
}

.content__select-time {
    margin-top: 335px;
    margin-left: 220px;
}

.content__select-table {
    margin-top: 395px;
    margin-left: 172px;
}

.content__image {}

.content__form a {
    text-decoration: none;
    border: 1px solid #1fd9eb;
    margin-top: 340px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px 130px;
    background: #1fd9eb;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border-style: none;
}