                            @media (max-width: 1203px) {
                                .header__top-number p {
                                    width: 220px;
                                }
                                .header__text p {
                                    width: 700px;
                                }
                                .header__top-search input {
                                    margin-left: -55px;
                                }
                            }
                            
                            @media (max-width: 1184px) {
                                .header__top-number p {
                                    width: 210px;
                                }
                            }
                            
                            @media (max-width: 1152px) {
                                .menu {
                                    margin-left: -50px;
                                }
                                .header__top-search input {
                                    margin-left: -70px;
                                }
                            }
                            
                            @media (max-width: 1078px) {
                                .menu__list li {
                                    display: none;
                                }
                                .header__top-search input {
                                    display: none;
                                }
                                .header__top-search img {
                                    display: none;
                                }
                                .header__text p {
                                    width: 600px;
                                }
                            }
                            
                            @media (max-width: 1059px) {
                                .header__text p {
                                    width: 500px;
                                    padding-left: 60px;
                                }
                            }
                            
                            @media (max-width: 1033px) {
                                .header__text p {
                                    font-size: 12px;
                                    padding-left: 60px;
                                }
                                .header__title h1 {
                                    font-size: 36px;
                                }
                                .header__heading h2 {
                                    font-size: 24px;
                                }
                                .header__top-login p {
                                    margin-left: -150px;
                                }
                                .header__top-number p {
                                    font-size: 8px;
                                    margin-left: -50px;
                                }
                                .header__top-site p {
                                    width: 200px;
                                }
                                .header__btn a {
                                    width: 100px;
                                }
                                .header {
                                    overflow: hidden;
                                }
                            }
                            
                            @media (max-width: 990px) {
                                .header__text p {
                                    margin-left: -40px;
                                }
                            }
                            
                            @media (max-width: 920px) {
                                .header__top-site p {
                                    font-size: 10px;
                                    width: 150px;
                                }
                                .header__text p {
                                    margin-left: -50px;
                                }
                            }
                            
                            @media (max-width: 880px) {
                                .header__text p {
                                    margin-left: -90px;
                                }
                            }
                            
                            @media (max-width: 830px) {
                                .header__top-site {
                                    display: none;
                                }
                                .header__top-login p {
                                    margin-left: 50px;
                                }
                                .header__top-number p {
                                    margin-left: 50px;
                                }
                                .header__text p {
                                    margin-left: -130px;
                                }
                            }
                            
                            @media (max-width: 715px) {
                                .header__text p {
                                    margin-left: -160px;
                                }
                                .header__top-login p {
                                    margin-left: -20px;
                                    font-size: 12px;
                                }
                                .header__top-number p {
                                    margin-left: -10px;
                                    font-size: 10px;
                                }
                            }
                            
                            @media (max-width: 635px) {
                                .header__title h1 {
                                    font-size: 26px;
                                }
                                .header__text p {
                                    margin-left: -120px;
                                    width: 330px;
                                }
                                .header__top-login p {
                                    margin-left: -50px;
                                }
                                .header__btn a {
                                    width: 10px;
                                }
                                .header__top-logo {
                                    margin-left: 20px;
                                }
                            }
                            
                            @media (max-width: 540px) {
                                .header__text p {
                                    margin-left: -160px;
                                }
                            }
                            
                            @media (max-width: 490px) {
                                .header__top-number p {
                                    display: none;
                                }
                                .header__top-login p {
                                    display: none;
                                }
                                .header__btn a {
                                    display: none;
                                }
                                .header__title h1 {
                                    font-size: 18px;
                                }
                                .header__text p {
                                    font-size: 10px;
                                }
                                .header__heading h2 {
                                    font-size: 16px;
                                }
                            }
                            
                            @media (max-width: 470px) {
                                .header__text p {
                                    margin-left: -180px;
                                }
                            }
                            
                            @media (max-width: 455px) {
                                .header__text p {
                                    margin-left: -190px;
                                }
                            }
                            
                            @media (max-width: 411px) {
                                .header__text p {
                                    margin-left: -210px;
                                    font-size: 9px;
                                }
                                .header__title h1 {
                                    margin-left: -40px;
                                }
                                .header__heading h2 {
                                    margin-left: -40px;
                                }
                            }
                            
                            @media (max-width: 375px) {
                                .header__text p {
                                    margin-left: -180px;
                                    width: 230px;
                                }
                            }
                            
                            @media (max-width: 360px) {
                                .header__title h1 {
                                    margin-left: -30px;
                                }
                                .header__heading h2 {
                                    margin-left: -30px;
                                }
                                .header__text p {
                                    margin-left: -190px;
                                    width: 230px;
                                }
                            }
                            
                            @media (max-width: 340px) {
                                .header__title h1 {
                                    margin-left: -30px;
                                }
                                .header__heading h2 {
                                    margin-left: -30px;
                                }
                            }
                            
                            @media (max-width: 322px) {
                                .header__title h1 {
                                    margin-left: -20px;
                                }
                                .header__heading h2 {
                                    margin-left: -20px;
                                }
                            }
                            
                            @media (max-width: 320px) {
                                .header__text p {
                                    margin-left: -200px;
                                }
                            }
                            
                            @media (max-width: 1275px) {
                                .content__inner {
                                    margin-left: -70px;
                                }
                            }
                            
                            @media (max-width: 1250px) {
                                .content__text p {
                                    width: 600px;
                                }
                            }
                            
                            @media (max-width: 1210px) {
                                .content__inner {
                                    margin-left: -140px;
                                }
                            }
                            
                            @media (max-width: 1170px) {
                                .content__text p {
                                    width: 550px;
                                }
                                .content__inner {
                                    margin-left: -210px;
                                }
                            }
                            
                            @media (max-width: 1130px) {
                                .content__text p {
                                    width: 500px;
                                }
                                .content__inner {
                                    margin-left: -240px;
                                }
                            }
                            
                            @media (max-width: 1060px) {
                                .content__text p {
                                    width: 450px;
                                }
                                .content__inner {
                                    margin-left: -300px;
                                }
                            }
                            
                            @media (max-width: 1020px) {
                                .content__text p {
                                    width: 400px;
                                }
                                .content__inner {
                                    margin-left: -360px;
                                }
                            }
                            
                            @media (max-width: 965px) {
                                .content__text p {
                                    width: 350px;
                                }
                                .content__inner {
                                    margin-left: -420px;
                                }
                            }
                            
                            @media (max-width: 910px) {
                                .content__text p {
                                    width: 300px;
                                }
                                .content__inner {
                                    margin-left: -480px;
                                }
                            }
                            
                            @media (max-width: 910px) {
                                .content__image {
                                    display: none;
                                }
                                .content__inner {
                                    padding-left: 150px;
                                    margin-top: -50px;
                                }
                            }
                            
                            @media (max-width: 777px) {
                                .content {
                                    overflow: hidden;
                                }
                                .content__text p {
                                    width: 400px;
                                }
                                .content__inner {
                                    margin-top: 600px;
                                    padding-right: 40%;
                                }
                                .content__box {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    padding-left: 20%;
                                }
                            }
                            
                            @media (max-width: 580px) {
                                .content__box {
                                    padding-left: 15%;
                                }
                                .content__title p {
                                    margin-top: -50px;
                                }
                                .content__text p {
                                    margin-top: -50px;
                                }
                            }
                            
                            @media (max-width: 510px) {
                                .content__box {
                                    padding-left: 10%;
                                }
                            }
                            
                            @media (max-width: 480px) {
                                .content__text p {
                                    width: 350px;
                                }
                            }
                            
                            @media (max-width: 430px) {
                                .content__form-border {
                                    max-width: 280px;
                                    overflow: hidden;
                                }
                                .content__form input {
                                    max-width: 230px;
                                }
                                .content__form-btn {
                                    max-width: -10%;
                                    padding-left: -40;
                                }
                                .content__form a {
                                    width: 30%;
                                }
                                .content__btn-inner {
                                    margin-left: -30px;
                                    padding-left: -10px;
                                    margin-right: 0;
                                }
                                .content__form-title {
                                    margin-left: -35px;
                                }
                                .content__text p {
                                    width: 300px;
                                }
                            }
                            
                            @media (max-width: 415px) {
                                .content__form-border {
                                    margin-left: 20px;
                                }
                            }
                            
                            @media (max-width: 375px) {
                                .content__text p {
                                    width: 250px;
                                }
                                .content__form-border {
                                    margin-left: 20px;
                                }
                            }
                            
                            @media (max-width: 360px) {
                                .content__form-border {
                                    margin-left: 20px;
                                }
                            }
                            
                            @media (max-width: 340px) {
                                .content__form-border {
                                    margin-left: 10px;
                                }
                            }
                            
                            @media (max-width: 1150px) {
                                .gallery__box p {
                                    font-size: 18px;
                                    width: 140px;
                                }
                            }
                            
                            @media (max-width: 1090px) {
                                .gallery__box p {
                                    width: 50px;
                                }
                            }
                            
                            @media (max-width: 1100px) {
                                .gallery__box p {
                                    padding-left: 3%;
                                    margin-left: -3%;
                                    font-size: 4px;
                                    max-width: 150px;
                                }
                                .gallery__box span {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 990px) {
                                .gallery__box p {
                                    max-width: 120px;
                                }
                            }
                            
                            @media (max-width: 700px) {
                                .gallery__box p {
                                    max-width: 100px;
                                    padding-left: 10%;
                                    margin-left: -10%;
                                }
                                .gallery__title p {
                                    margin-left: -31%;
                                }
                                .gallery__icom img {
                                    margin-left: -16%;
                                }
                            }
                            
                            @media (max-width: 660px) {
                                .gallery__block1 p {
                                    margin-left: -80px;
                                }
                                .gallery__block2 p {
                                    margin-left: -60px;
                                }
                                .gallery__block3 p {
                                    margin-left: -70px;
                                }
                                .gallery__block4 p {
                                    margin-left: -70px;
                                }
                                .gallery__block5 p {
                                    margin-left: -70px;
                                }
                                .gallery__block6 p {
                                    margin-left: -60px;
                                }
                            }
                            
                            @media (max-width: 565px) {
                                .gallery__block3 p {
                                    margin-left: -65px;
                                }
                                .gallery__block5 p {
                                    margin-left: -65px;
                                }
                            }
                            
                            @media (max-width: 530px) {
                                .gallery {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 1273px) {
                                .about__accordeon dd {
                                    width: 540px;
                                }
                            }
                            
                            @media (max-width: 1204px) {
                                .about__text p {
                                    width: 700px;
                                }
                                .about__accordeon i {
                                    margin-left: -40px
                                }
                            }
                            
                            @media (max-width: 1105px) {
                                .about__text p {
                                    width: 600px;
                                }
                                .about__accordeon i {
                                    margin-left: -80px
                                }
                            }
                            
                            @media (max-width: 1067px) {
                                .about__accordeon i {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 1060px) {
                                .about__image img {
                                    margin-top: 250px;
                                    width: 40%;
                                    margin-left: 20%;
                                }
                                .about {
                                    overflow: hidden;
                                }
                                .about__text p {
                                    width: 900px;
                                }
                            }
                            
                            @media (max-width: 985px) {
                                .about__text p {
                                    width: 700px;
                                }
                                .about__accordeon dd {
                                    width: 500px;
                                }
                                .about__image img {
                                    margin-left: 30%;
                                }
                            }
                            
                            @media (max-width: 940px) {
                                .about__image img {
                                    margin-left: 50%;
                                }
                            }
                            
                            @media (max-width: 825px) {
                                .about__image img {
                                    margin-left: 60%;
                                }
                            }
                            
                            @media (max-width: 775px) {
                                .about__accordeon {
                                    margin-top: 400px;
                                    margin-left: 10%;
                                }
                                .about__image img {
                                    margin-top: -120px;
                                    margin-left: -100px;
                                    width: 50%;
                                }
                                .about__text p {
                                    width: 650px;
                                }
                            }
                            
                            @media (max-width: 710px) {
                                .about__text p {
                                    width: 600px;
                                }
                                .about__accordeon {
                                    margin-left: 5%;
                                }
                            }
                            
                            @media (max-width: 660px) {
                                .about__text p {
                                    width: 550px;
                                }
                                .about__accordeon {
                                    margin-left: 0;
                                }
                            }
                            
                            @media (max-width: 601px) {
                                .about__text p {
                                    font-size: 12px;
                                    width: 500px;
                                }
                                .about__accordeon {
                                    margin-top: 450px;
                                }
                                .about__image img {
                                    margin-top: -170px;
                                }
                            }
                            
                            @media (max-width: 555px) {
                                .about__text p {
                                    width: 450px;
                                }
                                .about__accordeon dd {
                                    width: 400px;
                                }
                                .about__image img {
                                    margin-top: -280px;
                                    width: 45%;
                                    margin-left: 80px;
                                }
                                .about__accordeon {
                                    margin-top: 550px;
                                }
                            }
                            
                            @media (max-width: 480px) {
                                .about__text p {
                                    width: 400px;
                                }
                            }
                            
                            @media (max-width: 450px) {
                                .about__text p {
                                    width: 350px;
                                }
                                .about__accordeon dd {
                                    width: 350px;
                                }
                                .about__image img {
                                    margin-top: -300px;
                                }
                                .about__title p {
                                    margin-top: -100px;
                                }
                            }
                            
                            @media (max-width: 400px) {
                                .about__text p {
                                    width: 350px;
                                }
                                .about__accordeon dd {
                                    width: 300px;
                                }
                                .about__image img {
                                    margin-top: -320px;
                                }
                                .about__title p {
                                    font-size: 24px;
                                    line-height: 30px;
                                    margin-top: -100px;
                                }
                            }
                            
                            @media (max-width: 380px) {
                                .about__image img {
                                    margin-top: -340px;
                                }
                                .about__text p {
                                    font-size: 12px;
                                    width: 300px;
                                }
                            }
                            
                            @media (max-width: 345px) {
                                .about__accordeon dd {
                                    width: 250px;
                                }
                                .about__text p {
                                    max-width: 250px;
                                }
                                .about__image img {
                                    margin-top: -400px;
                                }
                            }
                            
                            @media (max-width: 1140px) {
                                .delivary__cards div {
                                    width: 300px;
                                }
                                .delivary__cards p {
                                    max-width: 250px;
                                    margin-left: 20px;
                                }
                                .delivary__cards h3 {
                                    margin-left: -20px;
                                }
                                .delivary__cards img {
                                    margin-left: -20px;
                                }
                                .delivary__title p {
                                    margin-left: -20px;
                                }
                            }
                            
                            @media (max-width: 1045px) {
                                .delivary__cards h3 {
                                    margin-left: -40px;
                                }
                                .delivary__cards p {
                                    max-width: 200px;
                                }
                            }
                            
                            @media (max-width: 1024px) {
                                .delivary {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 1152px) {
                                .dish {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 1272px) {
                                .team__image_big {
                                    display: none;
                                }
                                .team__image_small img {
                                    display: none;
                                }
                                .team__inner {
                                    display: flex;
                                    flex-direction: column;
                                    width: 40%;
                                    float: right;
                                    margin-right: 400px;
                                }
                                .team__chief {
                                    margin-top: 500px;
                                }
                                .team__chief {
                                    margin-bottom: 50px;
                                }
                                .team__woman-cook {
                                    margin-bottom: 50px;
                                }
                                .team__man-cook {
                                    margin-bottom: 50px;
                                }
                                .team__image-follow {
                                    margin-left: 25px;
                                    padding-bottom: 25px;
                                }
                            }
                            
                            @media (max-width: 1170px) {
                                .team__inner {
                                    margin-right: 350px;
                                }
                            }
                            
                            @media (max-width: 1145px) {
                                .team__inner p {
                                    margin-left: -15px;
                                }
                                .team__image-follow {
                                    margin-left: 15px;
                                }
                            }
                            
                            @media (max-width: 1080px) {
                                .team__inner {
                                    width: 45%;
                                    margin-right: 250px;
                                }
                            }
                            
                            @media (max-width: 983px) {
                                .team__inner {
                                    width: 50%;
                                    margin-right: 200px;
                                }
                            }
                            
                            @media (max-width: 889px) {
                                .team__inner {
                                    width: 55%;
                                    margin-right: 150px;
                                }
                                .team__image-follow {
                                    margin-left: 25px;
                                }
                            }
                            
                            @media (max-width: 809px) {
                                .team__inner {
                                    width: 60%;
                                    margin-right: 100px;
                                }
                            }
                            
                            @media (max-width: 743px) {
                                .team__inner {
                                    width: 65%;
                                    margin-right: 50px;
                                }
                                .team__inner p {
                                    margin-left: 0;
                                }
                                .team__image-follow {
                                    margin-left: 10px;
                                }
                            }
                            
                            @media (max-width: 686px) {
                                .team__inner {
                                    width: 70%;
                                    margin-right: 50px;
                                }
                            }
                            
                            @media (max-width: 640px) {
                                .team__inner {
                                    width: 80%;
                                    margin-right: 25px;
                                }
                                .team__image-follow {
                                    margin-left: 25px;
                                }
                            }
                            
                            @media (max-width: 605px) {
                                .team__image-follow {
                                    margin-left: 15px;
                                }
                            }
                            
                            @media (max-width: 570px) {
                                .team {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 1272px) {
                                .event {
                                    margin-top: 1900px;
                                }
                            }
                            
                            @media (max-width: 1170px) {
                                .event {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 1171px) {
                                .feedback__title {
                                    margin-top: 1900px;
                                }
                                .feedback__icon img {
                                    margin-left: 10px;
                                }
                            }
                            
                            @media (max-width: 1000px) {
                                .feedback__icon img {
                                    margin-left: 20px;
                                }
                            }
                            
                            @media (max-width: 771px) {
                                .feedback__title p {
                                    margin-left: -100px;
                                }
                                .feedback__icon img {
                                    margin-left: -60px;
                                }
                            }
                            
                            @media (max-width: 570px) {
                                .feedback__title {
                                    margin-top: -100px;
                                }
                            }
                            
                            @media (max-width: 531px) {
                                .feedback__title p {
                                    margin-left: -150px;
                                }
                                .feedback {
                                    overflow: hidden;
                                }
                                .feedback__icon img {
                                    margin-left: -90px;
                                }
                                .feedback__slider svg {
                                    margin-top: -100px;
                                }
                            }
                            
                            @media (max-width: 450px) {
                                .feedback__title p {
                                    font-size: 24px;
                                }
                                .feedback__title span {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 355px) {
                                .feedback__title p {
                                    margin-left: -180px;
                                }
                                .feedback__icon img {
                                    margin-left: -110px;
                                }
                            }
                            
                            @media (max-width: 1260px) {
                                .subscribe__email input {
                                    margin-left: -50px;
                                }
                                .subscribe__email img {
                                    margin-left: -50px;
                                }
                            }
                            
                            @media (max-width: 1200px) {
                                .subscribe__email input {
                                    margin-left: -120px;
                                }
                                .subscribe__email img {
                                    margin-left: -80px;
                                }
                            }
                            
                            @media (max-width: 1163px) {
                                .subscribe__email {
                                    margin-top: 150px;
                                }
                                .subscribe__email img {
                                    z-index: 1;
                                    position: absolute;
                                }
                                .subscribe__email input {
                                    position: relative;
                                }
                            }
                            
                            @media (max-width: 770px) {
                                .subscribe__email {
                                    margin-left: -25px;
                                }
                            }
                            
                            @media (max-width: 635px) {
                                .subscribe__text {
                                    max-width: 485px;
                                }
                            }
                            
                            @media (max-width: 530px) {
                                .subscribe__text {
                                    max-width: 385px;
                                }
                                .subscribe__email {
                                    margin-top: 170px;
                                    margin-left: -35px;
                                }
                            }
                            
                            @media (max-width: 490px) {
                                .subscribe__email input {
                                    max-width: 300px;
                                    max-height: 45px;
                                }
                                .subscribe__title {
                                    margin-top: 50px;
                                }
                                .subscribe__email img {
                                    max-height: 47px;
                                    margin-left: 0px;
                                }
                            }
                            
                            @media (max-width: 422px) {
                                .subscribe__email input {
                                    max-width: 220px;
                                }
                                .subscribe__text {
                                    max-width: 285px;
                                }
                                .subscribe__email {
                                    margin-top: 190px;
                                    margin-left: -40px;
                                }
                            }
                            
                            @media (max-width: 340px) {
                                .subscribe__email ::placeholder {
                                    font-size: 14px;
                                    padding-left: 0px;
                                }
                                .subscribe__email input {
                                    max-width: 200px;
                                }
                                .subscribe__email {
                                    margin-left: -45px;
                                }
                            }
                            
                            @media (max-width: 1240px) {
                                .blog__title {
                                    position: relative;
                                }
                                .blog__inner {
                                    margin-left: -30px;
                                }
                            }
                            
                            @media (max-width: 1210px) {
                                .blog {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 1185px) {
                                .contact__title {
                                    margin-left: -50px;
                                }
                                .contact__icon {
                                    margin-left: -50px;
                                }
                            }
                            
                            @media (max-width: 1115px) {
                                .contact__title {
                                    margin-left: -100px;
                                }
                                .contact__icon {
                                    margin-left: -100px;
                                }
                            }
                            
                            @media (max-width: 990px) {
                                .contact__title {
                                    margin-left: -150px;
                                }
                                .contact__icon {
                                    margin-left: -150px;
                                }
                            }
                            
                            @media (max-width: 890px) {
                                .contact__title {
                                    margin-left: -200px;
                                }
                                .contact__icon {
                                    margin-left: -200px;
                                }
                            }
                            
                            @media (max-width: 790px) {
                                .contact__title {
                                    margin-left: -250px;
                                }
                                .contact__icon {
                                    margin-left: -250px;
                                }
                            }
                            
                            @media (max-width: 730px) {
                                .contact__title {
                                    margin-left: -300px;
                                }
                                .contact__icon {
                                    margin-left: -300px;
                                }
                            }
                            
                            @media (max-width: 650px) {
                                .contact__title {
                                    margin-left: -350px;
                                }
                                .contact__icon {
                                    margin-left: -350px;
                                }
                            }
                            
                            @media (max-width: 585px) {
                                .contact__title {
                                    margin-left: -400px;
                                }
                                .contact__icon {
                                    margin-left: -400px;
                                }
                            }
                            
                            @media (max-width: 500px) {
                                .contact__title {
                                    margin-left: -450px;
                                    margin-top: 100px;
                                }
                                .contact__icon {
                                    margin-left: -450px;
                                }
                            }
                            
                            @media (max-width: 360px) {
                                .contact__title {
                                    margin-left: -480px;
                                }
                                .contact__icon {
                                    margin-left: -480px;
                                }
                            }
                            
                            @media (max-width: 330px) {
                                .contact__title {
                                    margin-left: -490px;
                                }
                                .contact__icon {
                                    margin-left: -490px;
                                }
                            }
                            
                            @media (max-width: 320px) {
                                .contact__title {
                                    margin-left: -500px;
                                }
                                .contact__icon {
                                    margin-left: -500px;
                                }
                            }
                            
                            @media (max-width: 1220px) {
                                .form {
                                    margin-left: -50px;
                                }
                            }
                            
                            @media (max-width: 1165px) {
                                .form {
                                    margin-left: -100px;
                                }
                            }
                            
                            @media (max-width: 1115px) {
                                .form {
                                    margin-left: -150px;
                                }
                            }
                            
                            @media (max-width: 1060px) {
                                .form {
                                    margin-left: -200px;
                                }
                            }
                            
                            @media (max-width: 1010px) {
                                .form {
                                    margin-left: -250px;
                                }
                            }
                            
                            @media (max-width: 960px) {
                                .form {
                                    margin-top: 550px;
                                    margin-left: -450px;
                                }
                                .schedule {
                                    margin-top: -550px;
                                    margin-left: 200px;
                                }
                            }
                            
                            @media (max-width: 750px) {
                                .form {
                                    margin-left: -540px;
                                }
                                .schedule {
                                    margin-left: 100px;
                                }
                            }
                            
                            @media (max-width: 660px) {
                                .form {
                                    margin-left: -600px;
                                }
                                .schedule {
                                    margin-left: 50px;
                                }
                            }
                            
                            @media (max-width: 570px) {
                                .form__name input {
                                    max-width: 355px;
                                }
                                .form__email input {
                                    max-width: 355px;
                                }
                                .form__message textarea {
                                    max-width: 380px;
                                }
                                .schedule {
                                    margin-left: 25px;
                                }
                            }
                            
                            @media (max-width: 440px) {
                                .form__name input {
                                    max-width: 290px;
                                }
                                .form__email input {
                                    max-width: 290px;
                                }
                                .form__message textarea {
                                    max-width: 315px;
                                }
                                .form__title {
                                    margin-top: -550px;
                                }
                                .schedule {
                                    display: none;
                                }
                            }
                            
                            @media (max-width: 355px) {
                                .form__name input {
                                    max-width: 220px;
                                }
                                .form__email input {
                                    max-width: 220px;
                                }
                                .form__message textarea {
                                    max-width: 250px;
                                }
                            }
                            
                            @media (max-width: 1215px) {
                                .footer {
                                    display: none;
                                }
                            }